<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- User List -->
      <section class="users-list-wrapper">
  
        <div class="card">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center"
                  >Show
                  <select class="form-control mx-25" [(ngModel)]="selectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries</label
                >
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <label class="d-flex align-items-center ml-1 ml-md-0"
                  >Search:<input
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    type="search"
                    class="form-control ml-25"
                    (keyup)="filterUpdate($event)"
                    (search)="filterUpdate($event)"
                /></label>
                <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('new-user-sidebar')">
                  <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                  ><span class="d-none d-sm-inline-block">Add New Category</span>
                </button>
              </div>
            </div>
          </div>
          <ngx-datatable
            [rows]="rows"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="selectedOption"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="User" prop="fullName" [width]="200">
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <div *ngIf="row.avatar.length > 0; else customAvatar">
                    <img
                      class="rounded-circle mr-1"
                      src="{{ row.avatar }}"
                      height="32"
                      width="32"
                      alt="datatable-avatar"
                    />
                  </div>
                  <ng-template #customAvatar>
                    <div
                      class="avatar mr-1 ml-0"
                      [ngClass]="{
                        'bg-light-success': row.status == 'active',
                        'bg-light-secondary': row.status == 'inactive',
                        'bg-light-warning': row.status == 'pending'
                      }"
                    >
                      <div class="avatar-content">{{ name | initials }}</div>
                    </div>
                  </ng-template>
                  <div class="cell-line-height">
                    <a routerLink="/apps/user/user-view/{{ row.id }}" class="font-medium-1 d-block"
                      ><span class="font-weight-bold">{{ name }}</span></a
                    >
                    <span class="text-muted font-small-2"> @{{ row.username }}</span>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Role" prop="role" [width]="100">
              <ng-template let-role="value" ngx-datatable-cell-template>
                <div>
                  <i
                    class="feather font-medium-3"
                    [ngClass]="{
                      'icon-edit-2 text-info': role == 'Editor',
                      'icon-settings text-warning': role == 'Author',
                      'icon-database text-success': role == 'Maintainer',
                      'icon-user text-primary': role == 'Subscriber',
                      'icon-slack text-danger': role == 'Admin'
                    }"
                  ></i>
                  {{ role }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Plan" prop="currentPlan" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="status" [width]="50">
              <ng-template let-status="value" ngx-datatable-cell-template>
                <div
                  class="badge badge-pill"
                  [ngClass]="{
                    'badge-light-success': status == 'active',
                    'badge-light-secondary': status == 'inactive',
                    'badge-light-warning': status == 'pending'
                  }"
                >
                  {{ status }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div ngbDropdown container="body">
                  <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                    <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                  </button>
                  <div ngbDropdownMenu>
                    <a routerLink="/apps/user/user-view/{{ row.id }}" ngbDropdownItem
                      ><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> Details</a
                    ><a routerLink="/apps/user/user-edit/{{ row.id }}" ngbDropdownItem
                      ><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> Edit</a
                    ><a href="javascript:;" ngbDropdownItem
                      ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Delete</a
                    >
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </section>
      <!--/ User List -->
    </div>
  
    <!-- New User Sidebar -->
    <core-sidebar
      class="modal modal-slide-in sidebar-todo-modal fade"
      name="new-user-sidebar"
      overlayClass="modal-backdrop"
    >
      <app-new-category-sidrbar></app-new-category-sidrbar>
    </core-sidebar>
    <!--/ New User Sidebar -->
  </div>
  